library/Xi/Netvisor/Resource/Dtd/purchaseinvoicepostingdata.dtd

<!DOCTYPE root [
<!ELEMENT root (purchaseinvoicepostingdata)>
<!ELEMENT purchaseinvoicepostingdata (purchaseinvoicenetvisorkey, status?, isreadyforaccounting, comment?, purchaseinvoicepostingline*)>
<!ELEMENT purchaseinvoicepostingline (purchaseinvoicelinenetvisorkey?, productcode?, productname, orderedamount?, deliveredamount, unitname?, unitprice, discountpercentage?, vatpercent, linesum, description?, sort?, accountingsuggestion?, dimension*)>
<!ELEMENT dimension (dimensionname, dimensionitem)>

<!ELEMENT purchaseinvoicenetvisorkey (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT isreadyforaccounting (#PCDATA)>
<!ELEMENT comment (#PCDATA)>

<!ELEMENT purchaseinvoicelinenetvisorkey (#PCDATA)>
<!ELEMENT productcode (#PCDATA)>
<!ELEMENT productname (#PCDATA)>
<!ELEMENT orderedamount (#PCDATA)>
<!ELEMENT deliveredamount (#PCDATA)>
<!ELEMENT unitname (#PCDATA)>
<!ELEMENT unitprice (#PCDATA)>
<!ELEMENT discountpercentage (#PCDATA)>
<!ELEMENT linesum (#PCDATA)>
  <!ATTLIST linesum type (gross) #REQUIRED>
<!ELEMENT description (#PCDATA)>
<!ELEMENT sort (#PCDATA)>
<!ELEMENT accountingsuggestion (#PCDATA)>
<!ELEMENT vatpercent (#PCDATA)>
  <!ATTLIST vatpercent vatcode CDATA #IMPLIED>

<!ELEMENT dimensionname (#PCDATA)>
<!ELEMENT dimensionitem (#PCDATA)>
]>
